[submodule "IdeaProjects/tacktracker/IdeaProjects/tacktracker/tasktracer-java"]
	path = IdeaProjects/tacktracker/IdeaProjects/tacktracker/tasktracer-java
	url = https://github.com/ComoffmansCorp/tasktracer-java.git
